*.DS_Store
*.so
._*
.nfs.*
*.orig
*.rej
*.swp
*.cgo*.go
*.cgo*.c
.vscode/*
.idea/*
_cgo_*
_obj
_test
_testmain.go
.generated/

*.zip
*.tar

/VERSION.cache
/doc/articles/wiki/*.bin
/goinstall.log
/last-change
/misc/cgo/life/run.out
/misc/cgo/stdio/run.out
/misc/cgo/testso/main
/test.out
/test/garbage/*.out
/test/pass.out
/test/run.out
/test/times.out
/vendor/
/tools/vendor/
/tools/bin/
/bin/
/test-results/*
*.gen.go

websites.txt
config.yml
